.main {
  @apply relative
}
.content {
  @apply relative overflow-hidden;
  z-index: 1;
  height: calc(100vh - 64px);
}
.dash-container {
  @apply relative overflow-auto w-screen h-screen bg-cover bg-center bg-no-repeat;
  height: 100%;
  z-index: 1;
}
.overlay {
  @apply bg-black bg-opacity-50 flex justify-center items-center;
  height: calc(100vh);
}
