<div class="grid m-10 gap-6">
  <div class="flex justify-between">
    <!-- <h1 class="prose lg:prose-xl">Current Widgets</h1> -->
    <div tabindex="0" class="collapse max-w-60">
    <input type="checkbox" />
      <div class="btn btn-primary collapse-title p-0 rounded-b-none">
        Add Widget
        <ng-icon name="lucidePlus" />
      </div>
      <div class="collapse-content p-0">
        <ul class="grid align-left bg-base-200 gap-2 rounded-b-small rounded-t-none">
          @for (widget of store.widgetsToAdd(); track widget.id) {
            <button class="btn" (click)="store.addWidget(widget)">{{ widget.title}}</button>
          } @empty {
            <p class="italic center px-10 py-6 rounded-t-none rounded-b-small">No widgets to add</p>
          }
        </ul>
      </div>
    </div>
  </div>

  <div #dashboard cdkDropListGroup class="dashboard-widgets">
    @for (w of store.addedWidgets(); track w.id) {
      <app-widget cdkDropList [data]="w" (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="w.id" />
    }
  </div>
</div>
